colorama==0.3.9
Jinja2==2.10
napalm==2.3.1
netmiko==2.2.2
pynxos==0.0.3
paramiko==2.4.1
future==0.16.0
requests==2.19.1
ruamel.yaml==0.15.44
mypy-extensions==0.3.0
decorator==4.3.0
pytest==3.6.3
pytest-cov==2.5.1
pylama==7.4.3
flake8-import-order==0.18
requests-mock==1.5.2
tox==3.1.2
black==18.6b4
mypy==0.620

# -e git+https://github.com/nornir-automation/nornir@46d27d36111deb5bfbe6635d168465461918833d#egg=nornir
